<nav class="navbar navbar-default">
	<div class="container-fluid container-fluid-change">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample4">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand bold" href="/">
				KAZUAWASE
			</a>
		</div>
		
		<div class="collapse navbar-collapse" id="navbarEexample4">
			<ul class="nav navbar-nav">
				<li><a href="/jobs/index">仕事を探す</a></li>
				<li><a href="/mypage">マイページ</a></li>
				<li><a href="/jobs/new">数合わせを募集する</a></li>
			</ul>
			<%= link_to '無料登録', new_user_path, class:"btn btn-orange-white-m navbar-btn margin-left" %>
			<%= link_to 'ログイン', sessions_new_path, class:"btn btn-orange-white-m navbar-btn" %>
			<%= link_to 'ログアウト', logout_path,method: :delete, class:"btn btn-white-orange-m navbar-btn" %>
		</div>
	</div>
</nav>